extends ../layout
block content
  artcle
    if topic
      h2= topic.title
      = topic.description
      
      if topic.author
        div= 'by ' + topic.author
      else
        div= 'No author found'
    else
      h2 Welcome
      | This is server side javascript tutorial.
  ul
    li
      a(href='/topic/add') add
    if topic
      li
        a(href='/topic/'+ topic.id +'/edit') edit
      li  
        a(href='/topic/'+ topic.id +'/delete') delete
    
      
